.page-blog-forte {
  #mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .blog-header-region {
      width: 40%;
    }
    article {
      width: 58%;
    }
  }
}