.collection-type-blog.sidebar-position-right {
  #canvasWrapper .pageWrapper {
    max-width: 1440px;
  }
  #mainContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .blog-header-region {
      width: 40%;
    }
    article {
      width: 58%;
      .entry-title {
        display: none;
      }
    }
  }
}